body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.mvc-grid {
    font-size: 1.2rem !important;
}

.mvc-grid-popup .mvc-grid-value,
.mvc-grid-popup .mvc-grid-method,
.mvc-grid-popup .mvc-grid-operator {
    font-size: 1.2em !important;
 }

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.04) !important;
}

.mvc-grid th,
.mvc-grid td {
    padding: 0.5em !important;
}
